:root {
    /* Colors */
    --bgColor: var(--vscode-editor-background);
    --bgColorSecondary: var(--vscode-editorWidget-background);
    --textColor: var(--vscode-editor-foreground);
    --textSelectionBgColor: var(--vscode-editor-selectionBackground);
    --textSelectionFgColor: var(--vscode-editor-selectionForeground);

    /* Z-Indices */
    --zIndexBody: -2;
    --zIndexGrid: 0;
    --zIndexTopBar: 5;
    --zIndexUI: 10;
    --zIndexModal: 100;
}

button:hover {
    filter: brightness(0.9);
}
button:active {
    filter: brightness(0.75);
}

.disable-select {
    user-select: none;
}

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor);
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    z-index: var(--zIndexBody);
    padding: 0;
    margin: 0;
}

div.classBox {
    margin: 10px;
    overflow: scroll;
    display: block;
    width: 300px;
    height: 150px;
    border: 2px white solid;
    border-radius: 5px;
    transition: all 1s;
    box-sizing: content-box;
    box-sizing: border-box;
    background: skyblue;
    scrollbar-color: rgb(205, 205, 205);
}

foreignObject {
    position: relative;
    z-index: -1;
}

.scrollBoxBackground {
    position: relative;
    z-index: -1;
}

div.classBox:hover {
    border-width: 5px;
    transform: scale(1.05);
}

g.line rect.line-indicator {
    width: 100%;
    fill: rgb(131, 131, 142);
    transition: all 0.25s ease-in-out;
    position: relative;
    z-index: -1;
}

g.line {
    position: relative;
    z-index: 1;
}

g.line * {
    position: relative;
    z-index: 1;
}

g.line rect.line-number-background {
    fill: rgb(111, 111, 121);
    position: relative;
    z-index: 1;
}

g.line:hover rect.line-indicator {
    fill: rgb(150, 150, 163);
}

g.line text {
    fill: var(--textColor);
    z-index: 2;
}

svg {
    overflow: visible;
}

.ui {
    position: absolute;
    z-index: 100;
}

.arrow {
    position: relative;
    z-index: 10;
}

#refreshAtlasButton.ui {
    --margin-top: 15px;
    --margin-right: 15px;
}

#changeSourceButton.ui {
    --margin-top: calc(15px + 2rem + 10px);
    --margin-right: 15px;
}

#refreshAtlasButton.ui,
#changeSourceButton.ui {
    top: var(--margin-top);
    right: var(--margin-right);

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.1rem;
    color: var(--textColor);

    background: var(--bgColor);
    background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.33));
    width: 10rem;
    height: 2rem;
    outline: white 1px solid;
}

#refreshAtlas.ui:hover {
    filter: brightness(1.15);
}

#refreshAtlas.ui:active {
    filter: brightness(0.87);
}

#cameraIndicator.ui {
    bottom: 0;
    right: 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 0.75rem;
    color: var(--textSelectionFgColor);

    background: var(--textSelectionBgColor);
    display: flex;
    height: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

#cameraIndicator > * {
    margin: 0 4px 0 2px;
}
